# Dependencies
node_modules/

# Build
dist/
build/
out/

# Logs
logs/
*.log

# Env
.env*

# TypeScript
*.tsbuildinfo

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# Coverage
coverage/

# Optional
uploads/
data/